# SQLBolt - Introduction to SQL

### SQL Lesson 1: SELECT queries 101
Find the title of each film \
Find the director of each film
Find the title and director of each film \
Find the title and year of each film \
Find all the information about each film

### SQL Lesson 2: Queries with constraints (Pt. 1)

Operators:
=, !=, < <=, >, >=
BETWEEN … AND …
NOT BETWEEN … AND …
IN (…)
NOT IN (…)
Find the movie with a row id of 6
Find the movies released in the years between 2000 and 2010
Find the movies not released in the years between 2000 and 2010
Find the first 5 Pixar movies and their release year

### SQL Lesson 3: Queries with constraints (Pt. 2)

Operators:
'='
!= or <>
LIKE
NOT LIKE
% 
_
IN (…)
NOT IN (…)
Find all the Toy Story movies
Find all the movies directed by John Lasseter
Find all the movies (and director) not directed by John Lasseter
Find all the WALL-* movies

### SQL Lesson 10: Queries with aggregates (Pt. 1) - Completed 21 Sep 2022

### SQL Lesson 11: Queries with aggregates (Pt. 2) - Completed 22 Sep 2022

-- Find the number of Artists in the studio (without a HAVING clause)

SELECT COUNT(role) 
FROM employees 
WHERE role = 'Artist'

-- Find the number of Employees of each role in the studio

SELECT role, count(*) 
FROM employees 
GROUP BY role

-- Find the total number of years employed by all Engineers

SELECT role, SUM(years_employed) 
FROM employees 
WHERE role = 'Engineer'

### SQL Lesson 12: Order of execution of a Query - Completed 22 Sep 2022

-- Find the number of movies each director has directed

SELECT COUNT(Title), director 
FROM movies 
GROUP BY director

-- Find the total domestic and international sales that can be attributed to each director

SELECT director, SUM(domestic_sales + international_sales) AS total_sales
FROM movies
JOIN boxoffice
ON id = movie_id
GROUP BY director

### SQL Lesson 13: Inserting rows - Completed 22 Sep 2022

-- Add the studio's new production, Toy Story 4 to the list of movies (you can use any director)

INSERT INTO movies
(title, director, year, length_minutes)
VALUES ('Toy Story 4', 'Pete Docter', 2022, 100 )

-- Toy Story 4 has been released to critical acclaim! It had a rating of 8.7, and made 340 million domestically and 270 million internationally. Add the record to the BoxOffice table.

INSERT INTO boxoffice
VALUES (4, 8.7, 340000000, 270000000);

### SQL Lesson 14: Updating rows - Completed 24 Sep 2022

-- The director for A Bug's Life is incorrect, it was actually directed by John Lasseter

UPDATE movies
SET director = "John Lasseter"
WHERE title = "A Bug's Life"; 

-- The year that Toy Story 2 was released is incorrect, it was actually released in 1999

UPDATE movies
SET year = 1999
WHERE title = "Toy Story 2";

-- Both the title and director for Toy Story 8 is incorrect! The title should be "Toy Story 3" and it was directed by Lee Unkrich

UPDATE movies
SET title = "Toy Story 3", director = "Lee Unkrich"
WHERE title = "Toy Story 8"

### SQL Lesson 15: Deleting rows - Completed 24 Sep 2022

-- This database is getting too big, lets remove all movies that were released before 2005.

DELETE FROM movies
WHERE year < 2005;

-- Andrew Stanton has also left the studio, so please remove all movies directed by him.

DELETE FROM movies
WHERE director = "Andrew Stanton";

### SQL Lesson 16: Creating tables - Completed 24 Sep 2022

```-- Create a new table named Database with the following columns:
– Name A string (text) describing the name of the database
– Version A number (floating point) of the latest version of this database
– Download_count An integer count of the number of times this database was downloaded
This table has no constraints.

CREATE TABLE database (
name TEXT,
version FLOAT,
download_count INTEGER
);```